.show-card.row
  .col-xs-3
    %img{ 'data-src' => 'holder.js/100%x150/auto', class: 'responsive-img' }
  .col-xs-9
    %h1= @company.name
    %p We solve business problems by provoking big reactions from simple interactions.
    %ul
      %li
        %a
          %small Website
        |
      %li
        %a
          %small LinkedIn
        |
      %li
        %a
          %small Twitter
        |
      %li
        %a
          %small Facebook
        |
      %li
        %a
          %small Instagram
    .location
      %small Sydney, Australia | Marketing and Advertising

%hr

.add-expertise.container
  %h3= "What's #{ @company.name } good at?"
%hr

= partial 'votes/item', collection: @company.voted_services

%hr

.service.container
  .title
    %h3{ 'data-service' => 'add-service' }
      %span{ class: 'glyphicon glyphicon-pencil' }
      Add service

  %div{ class: 'add-service-show accordion hidden' }
    = form_tag "/services/from-company/#{ @company.id }", role: 'form' do
      = field_set_tag(class: 'form-group') do
        = text_field_tag :service, class: 'add-service-input form-control', id: 'add-service-input', placeholder: 'Digital'
      = field_set_tag(class: 'buttons') do
        %button{ type: 'submit', class: 'btn btn-default' } Add